{% extends 'base.html' %}
{% block conteudo %}
<div class="div_botao">
    <a class="cadastro" href="{{ url_for('criar_categoria') }}">CADASTRO CATEGORIA</a>
    <a class="inicial" href="{{url_for('inicial')}}">VOLTAR PARA TELA INICIAL</a>
</div>

<div class="div_table">
    <table>
        <!--thead: define o cabecalho -->
        <thead>
        <tr>
            <!--tr: define a linha -->
            <!--td: determina uma celula -->
            <th>id_categoria</th>
            <th>Nome categoria</th>
            <th>Atualizar</th>
        </tr>
        </thead>
        <tbody>
        {% for item in lista_categoria %}
        <tr>
            <td>{{item.id_categoria}}</td>
            <td>{{item.nome_categoria}}</td>
            <td>
                <a href="{{url_for('editar_categoria', categoria_id= item.id_categoria)}}">
                    <img class="controle_icone" src="/static/assets/editar.jpg" width="50" height="50">
                </a>
            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock conteudo %}
